<link rel="stylesheet" type="text/css" href="../assets/css/biasvariance_slideshow.css" />

<!--This is adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp-->

 <!-- Slideshow container -->
 <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo.png" style="width:40%">
      <div class="text">We start by ranking all instances by the classifier's confidence in them.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(1).png" style="width:40%">
      <div class="text">We then go down the list, calculating precision and recall with everything above the cut-off.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(2).png" style="width:40%">
      <div class="text">Note that we always start with a point at (0,1) in the top-left corner.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(3).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">5 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(4).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(5).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(6).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">8 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(7).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">9 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(8).png" style="width:40%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">10 / 10</div>
      <img src="../assets/img/prCurve/PR Curve Demo(9).png" style="width:40%">
      <div class="text">After creating the curve, we can calculate the area underneath it to report the AUPR (area under the PR curve).</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
  </div> 

<script src="../assets/js/slideshow.js"></script>
